<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Targets.ElasticSearch"/>
  </extensions>

  <targets>
    <target name="elastic" xsi:type="BufferingWrapper" flushTimeout="5000">
      <target xsi:type="ElasticSearch"/>
    </target>
    <target xsi:type="File" name="allfile" fileName="${basedir}/logs/${logger:shortName=true}.log"
           archiveFileName="${basedir}/archives/${logger:shortName=true}.{#}.log"
           archiveEvery="Day"
           archiveNumbering="Rolling"
           maxArchiveFiles="7"
           concurrentWrites="true"
           layout="${longdate}|${uppercase:${level}}|${aspnet-TraceIdentifier}|message:${message}|${exception:format=ToString}" />
  </targets>

  <rules>
    <!--<logger name="*" minlevel="Info" writeTo="elastic" />-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <logger name="Microsoft.*" maxlevel="Info" final="true" />
  </rules>
</nlog>